# .env.example

# Firebase Configuration
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""

# Base URLs and IDs
BASE_RPC_URL=""
BASE_CHAIN_ID=""

# Stripe Configuration
STRIPE_SECRET_KEY=""

# JWT Configuration
JWT_SECRET=""

# Node Environment
NODE_ENV=""